<div class="d-flex justify-content-center">
  <div class="col-8">
    <form name="editForm" role="form" novalidate (ngSubmit)="save()" [formGroup]="editForm">
      <h2 id="jhi-film-heading" data-cy="FilmCreateUpdateHeading" jhiTranslate="appliTestJhipsterApp.film.home.createOrEditLabel">
        Create or edit a Film
      </h2>

      <div>
        <jhi-alert-error></jhi-alert-error>

        <div class="row mb-3" [hidden]="editForm.get('id')!.value == null">
          <label class="form-label" jhiTranslate="global.field.id" for="field_id">ID</label>
          <input type="number" class="form-control" name="id" id="field_id" data-cy="id" formControlName="id" [readonly]="true" />
        </div>

        <div class="row mb-3">
          <label class="form-label" jhiTranslate="appliTestJhipsterApp.film.filmName" for="field_filmName">Film Name</label>
          <input type="text" class="form-control" name="filmName" id="field_filmName" data-cy="filmName" formControlName="filmName" />
        </div>

        <div class="row mb-3">
          <label class="form-label" jhiTranslate="appliTestJhipsterApp.film.realisateur" for="field_realisateur">Realisateur</label>
          <input
            type="text"
            class="form-control"
            name="realisateur"
            id="field_realisateur"
            data-cy="realisateur"
            formControlName="realisateur"
          />
        </div>

        <div class="row mb-3">
          <label class="form-label" jhiTranslate="appliTestJhipsterApp.film.disponible" for="field_disponible">Disponible</label>
          <input
            type="checkbox"
            class="form-check"
            name="disponible"
            id="field_disponible"
            data-cy="disponible"
            formControlName="disponible"
          />
        </div>
      </div>

      <div>
        <button type="button" id="cancel-save" data-cy="entityCreateCancelButton" class="btn btn-secondary" (click)="previousState()">
          <fa-icon icon="ban"></fa-icon>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
        </button>

        <button
          type="submit"
          id="save-entity"
          data-cy="entityCreateSaveButton"
          [disabled]="editForm.invalid || isSaving"
          class="btn btn-primary"
        >
          <fa-icon icon="save"></fa-icon>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
        </button>
      </div>
    </form>
  </div>
</div>
